<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.food.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.smile.food.model.User">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <insert id="insert" parameterType="com.smile.food.model.User">
    insert into t_user (user_id, username, password, 
      sex, nickname, phone
      )
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smile.food.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <sql id="BASE_TABLE">
    t_user
  </sql>

  <sql id="BASE_COLUMN">
    user_id,username,password,phone,sex,nickname
  </sql>

  <select id="selectUser" resultType="com.smile.food.model.User">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
  </select>
  <select id="findListByPage"  resultType="com.smile.food.model.User">
    select * from t_user order by user_id  limit ${currIndex} , ${pageSize}

  </select>

  <insert id="insertToken" parameterType="com.smile.food.model.TokenModel">
    insert  into t_token(user_id, token)
    values (#{user_id,jdbcType=INTEGER},#{token ,jdbcType=VARCHAR})
  </insert>
  <update id="updateToken">
    update t_token set token = #{token,jdbcType=VARCHAR} where user_id= #{user_id,jdbcType=INTEGER}


  </update>

  <select id="findTokenIdByUserId" resultType="java.lang.Integer">
    select token_id from t_token where user_id=#{userId};
  </select>

  <select id="findPwdByPhone" resultType="com.smile.food.model.User">
    select * from t_user where phone= #{phone}
  </select>

  <select id="findUserById" resultType="com.smile.food.model.User">
    select * from t_user where user_id= #{userId}
  </select>

  <select id="findTokenByUserId" resultType="java.lang.String">
    SELECT token from t_token where user_id =#{userId}
  </select>
  

</mapper>